html {
  height: 100%;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
}

body {
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  background-size: cover;
  background-repeat: no-repeat;
}

form {
  text-align: center;
  margin-top: 20px;
  width: 100%;
}
.suncloud {
  display: block;
  margin: 0 auto;
  width: 150px;
  color: #010051;
}

.suncloudsmall {
  width: 75px;
}
.sun {
  width: 50px;
}

h1,
h2,
h3,
h4,
h5,
li {
  text-align: center;
  line-height: 48px;
  font-weight: 900;
  margin: 0;
  font-family: "Bungee Shade", cursive;
}

h1 {
  font-size: 34px;
  margin-top: 60px;
  color: #010051;
}

h2 {
  font-size: 28px;
  color: #010051;
  padding: 0 0 24px;
}

h3 {
  font-size: 24px;
  color: #010051;
}

h4 {
  font-size: 20px;
  color: #010051;
}

h5 {
  font-size: 20px;
  color: #010051;
}

li {
  color: #010051;
  list-style: none;
  margin: 25px;
  font-size: 20px;
  margin-top: -15px;
}

.mb-3 button {
  color: white;
  background: #000000;
  padding: 3px;
  margin: 0px;
  font-family: "Bungee Shade", cursive;
}

.mb-3 button:hover {
  color: #010051;
  background: white;
}

.col {
  color: #010051;
  font-family: "Bungee Shade", cursive;
  left: 20px;
}

p {
  color: #010051;
}

.active {
  color: #010051;
  cursor: default;
}

.active:hover {
  color: #010051;
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  color: #010051;
  font-family: "Bungee Shade", cursive;
  text-align: center;
}
